@{
}

@model Temple_Project.Models.Group

<!--Form for group info-->
<form method="post" asp-controller="Home" asp-action="GroupInfoForm">
    <!--Display validation errors-->
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="@Model.GroupId" hidden class="form-control" />


    <div class="form-group">
        <label asp-for="@Model.Name">Group Name: </label>
        <input asp-for="@Model.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.GroupSize">Group Size: </label>
        <input asp-for="@Model.GroupSize" min="1" max="15" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Email">Email: </label>
        <input asp-for="@Model.Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Phone">Phone Number: </label>
        <input asp-for="@Model.Phone" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Appointment.Date">Date: </label>
        <input asp-for="@Model.Appointment.Date" disabled class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Appointment.Time">Time: </label>
        <input asp-for="@Model.Appointment.Time" disabled class="form-control" />
    </div>


    @Html.HiddenFor(model => model.Appointment.Date)
    @Html.HiddenFor(model => model.Appointment.Time)


    <div asp-validation-summary="All"></div>

    <!--Submit button-->
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>